{% extends "global/base.html" %}

{% block main %}
    {% include "global/layouts/icons.html" %}

    <div class="mx-auto p-2" style="width: 1000px;">
        <h1 class="text-center mt-2 mb-3">Contratos {% if not page == "datos" %}
            <a class="btn btn-success" href="{% url 'nuevo_contrato_locador' %}">Nuevo</a>
        {% else %}
            Archivados
        {% endif %}</h1>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr><th>Locador</th><th>Inmueble</th><th>Locatario</th><th>Finaliza</th><th></th></tr>
            </thead>
            <tbody>
                {% for contrato in contratos %}
                    <tr>
                        <td>{{ contrato.locador.nombre }}</td>
                        <td>{{ contrato.inmueble }}</td>
                        <td>{{ contrato.locatario.nombre }}</td>
                        <td>{{ contrato.fecha_finalizacion }}</td>
                        <td class="p-0" style="text-align: center; vertical-align:middle;">
                            <a class="btn btn-primary btn-sm" href='{% url "resumen_contrato" id_contrato=contrato.id %}'>
                                <svg width="16" height="16" fill="currentColor" class="bi bi-file-earmark-break">
                                    <use xlink:href="#icono-archivo"></use>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}