{% extends "global/base.html" %}

{% block main %}
    <p>Bienvenido a la pagina principal</p>
    <p>Contratos Activos:</p>

    <table border="1">
        <thead>
            <tr><th>Locador</th><th>Inmueble</th><th>Locatario</th><th>Finaliza</th></tr>
        </thead>
        <tbody>
            {% for contrato in contratos %}
                <tr>
                    <td>{{ contrato.locador.nombre }}</td>
                    <td>{{ contrato.inmueble.num_partida }}</td>
                    <td>{{ contrato.locatario.nombre }}</td>
                    <td>{{ contrato.fecha_finalizacion }}</td>
                    <td><a href='{% url "contrato" id_contrato=contrato.id %}'>Ver</td>
                </tr>
            {% endfor %}
    </table>

{% endblock %}