{% extends "global/base.html" %}

{% block main %}
    <div class="mx-auto p-2" style="width: 1000px;">
        <h1 class="text-center mt-2 mb-3">Contratos Activos</h1>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr><th>Locador</th><th>Inmueble</th><th>Locatario</th><th>Finaliza</th><th></th></tr>
            </thead>
            <tbody>
                {% for contrato in contratos %}
                    <tr>
                        <td>{{ contrato.locador.nombre }}</td>
                        <td>{{ contrato.inmueble.num_partida }}</td>
                        <td>{{ contrato.locatario.nombre }}</td>
                        <td>{{ contrato.fecha_finalizacion }}</td>
                        <td><a href='{% url "contrato" id_contrato=contrato.id %}'>Ver</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}