{% extends "global/base.html" %}

{% block main %}
  <div  class="mx-auto p-2 mt-1" style="max-width: 1500px;">
    {% include "global/layouts/icons.html" %}
    {% include "global/layouts/nav_contrato_pagos.html" %}
    <hr>

    <div class="d-flex flex-wrap justify-content-center">
      {% for pago in pagos %}
        <div class="card {% if pago.pago %} border-success {% elif pago.hasta < hoy %} border-danger {% endif %} mx-2 mb-2">
          <div class="card-header {% if pago.pago %} text-success {% elif pago.hasta < hoy %} text-danger {% endif %}">{{pago.desde|date:"N Y"}}</div>
          <div class="card-body">
            {% if pago.pago %}
              <p class="card-text mb-2">Pagado: {{pago.fecha_pago|date:"SHORT_DATE_FORMAT"}}</p>
            {% else %}
              <p class="card-text mb-1">A partir de: {{pago.desde|date:"SHORT_DATE_FORMAT"}}</p>
              <p class="card-text mb-2">Vence: {{pago.hasta|date:"SHORT_DATE_FORMAT"}}</p>
            {% endif %}
            <div class="d-flex justify-content-end">
              {% if not pago.pago %}
                <a href="" class="btn btn-sm btn-success ms-1">
                  <svg width="16" height="16" fill="currentColor" class="bi bi-file-earmark-break">
                    <use xlink:href="#cash-coin"></use>
                  </svg>
                </a>
              {% endif %}
              <a href="{% url 'pago' id_pago=pago.id %}" class="btn btn-sm btn-primary ms-1">
                <svg width="16" height="16" fill="currentColor" class="bi bi-file-earmark-break">
                  <use xlink:href="#icono-archivo"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}