{% extends "global/base.html" %}

{% block main %}
    <div  class="mx-auto p-2 mt-1" style="width: 800px;">
        {% include "global/layouts/nav_contrato_pagos.html" %}
        <hr>

        <div class="row">
            {% for pago in pagos %}
            <div class="col-sm-4 mb-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{pago.desde|date:"N Y"}}</h5>
                    <p class="card-text mb-1">A partir de: {{pago.desde|date:"SHORT_DATE_FORMAT"}}</p>
                    <p class="card-text">Vence: {{pago.hasta|date:"SHORT_DATE_FORMAT"}}</p>
                    <a href="#" class="btn btn-success">Ver Pago</a>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>


{% endblock main %}
