{% extends "global/base.html" %}
{% load static %}


{% block head %}
    <script src="{% static 'scripts/checkbox-forms.js' %}"></script>
    <script>
        const campos_locador = [
            '{{form.nombre_locador.id_for_label}}',
            '{{form.dni_locador.id_for_label}}',
            '{{form.email_locador.id_for_label}}',
            '{{form.celular_locador.id_for_label}}',
            '{{form.domicilio_locador.id_for_label}}',
            '{{form.ciudad_locador.id_for_label}}'
        ];
        const campos_locatario = [
            '{{form.nombre_locatario.id_for_label}}',
            '{{form.dni_locatario.id_for_label}}',
            '{{form.email_locatario.id_for_label}}',
            '{{form.celular_locatario.id_for_label}}',
            '{{form.domicilio_locatario.id_for_label}}',
            '{{form.ciudad_locatario.id_for_label}}'
        ];
        const campos_inmueble = [
            '{{form.direccion_inmueble.id_for_label}}',
            '{{form.ciudad_inmueble.id_for_label}}',
            '{{form.num_partida_inmueble.id_for_label}}',
            '{{form.composicion_inmueble.id_for_label}}'
        ];
    </script>
{% endblock head %}

{% block main %}
    <h1>Nuevo Contrato</h1>
    <div class="mx-auto p-2" style="width: 800px;" >
        <form action="" method="POST" >
            {% csrf_token %}

            <div class="mb-1">
                <label for="{{form.locador.id_for_label}}" class="form-label">Locador:</label>
                {{form.locador}}
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="locador-checkbox" name="locador-checkbox" onchange="alternarFormulario('nuevo-locador', '{{form.locador.id_for_label}}', campos_locador)">
                <label class="form-check-label" for="locador-checkbox">Ingresar nueva persona</label>
            </div>
            <div id="nuevo-locador"  class="row g-1" style="display: none">
                <div class="col-12">
                    <label for="{{form.nombre_locador.id_for_label}}" class="form-label">Nombre:</label>
                    {{form.nombre_locador}}
                </div>
                <div class="col-md-2">
                    <label for="{{form.dni_locador.id_for_label}}" class="form-label">DNI:</label>
                    {{form.dni_locador}}
                </div>
                <div class="col-md-6">
                    <label for="{{form.email_locador.id_for_label}}" class="form-label">Email:</label>
                    {{form.email_locador}}
                </div>
                <div class="col-md-4">
                    <label for="{{form.celular_locador.id_for_label}}" class="form-label">Celular:</label>
                        {{form.celular_locador}}
                </div>
                <div class="col-md-6">
                    <label for="{{form.domicilio_locador.id_for_label}}" class="form-label">Domicilio:</label>
                    {{form.domicilio_locador}}
                </div>
                <div class="col-md-6">
                    <label for="{{form.ciudad_locador.id_for_label}}" class="form-label">Ciudad:</label>
                    {{form.ciudad_locador}}
                </div>
            </div>
            <hr>

            <div class="mb-1">
                <label for="{{form.locatario.id_for_label}}" class="form-label">Locatario:</label>
                    {{form.locatario}}
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="locatario-checkbox" name="locatario-checkbox" onchange="alternarFormulario('nuevo-locatario', '{{form.locatario.id_for_label}}', campos_locatario)">
                <label for="locatario-checkbox" class="form-check-label">Ingresar nueva persona</label>
            </div>
            <div id="nuevo-locatario" style="display: none" class="row g-1">
                <div class="col-12">
                    <label class="form-label" for="{{form.nombre_locatario.id_for_label}}">Nombre:</label>
                    {{form.nombre_locatario}}
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="{{form.dni_locatario.id_for_label}}">DNI:</label>
                    {{form.dni_locatario}}
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="{{form.email_locatario.id_for_label}}">Email:</label>
                    {{form.email_locatario}}
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="{{form.celular_locatario.id_for_label}}">Celular:</label>
                    {{form.celular_locatario}}
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="{{form.domicilio_locatario.id_for_label}}">Domicilio:</label>
                    {{form.domicilio_locatario}}
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="{{form.ciudad_locatario.id_for_label}}">Ciudad:</label>
                    {{form.ciudad_locatario}}
                </div>
            </div>
            <hr>

            <div class="mb-1">
                <label for="{{form.inmueble.id_for_label}}"  class="form-label">Inmueble:</label>
                {{form.inmueble}}
            </div>
            <div>
                <input class="form-check-input" type="checkbox" id="inmueble-checkbox" name="inmueble-checkbox" onchange="alternarFormulario('nuevo-inmueble', '{{form.inmueble.id_for_label}}', campos_inmueble)">
                <label for="inmueble-checkbox" class="form-check-label">Ingresar nuevo inmueble</label>
            </div>
            <div id="nuevo-inmueble" style="display: none" class="row g-1">
                <div class="col-md-2">
                    <label class="form-label" for="{{form.num_partida_inmueble.id_for_label}}" >Nº de Partida:</label>
                    {{form.num_partida_inmueble}}
                </div>
                <div class="col-md-5">
                    <label class="form-label" for="{{form.direccion_inmueble.id_for_label}}">Direccion:</label>
                    {{form.direccion_inmueble}}
                </div>
                <div class="col-md-5">
                    <label class="form-label" for="{{form.ciudad_inmueble.id_for_label}}">Ciudad:</label>
                    {{form.ciudad_inmueble}}
                </div>
                <div class="col-12">
                    <label class="form-label" for="{{form.composicion_inmueble.id_for_label}}">Composicion del Inmueble:</label>
                    {{form.composicion_inmueble}}
                </div>
            </div>
            <div class="col-12 mt-2">
                <label class="form-label" for="{{form.condicion.id_for_label}}">Condicion del Inmueble:</label>
                {{form.condicion}}
            </div>
            <hr>

            <div class="row g-1">
                <div class="col-md-3">
                    <label class="form-label" for="{{form.fecha_inicio.id_for_label}}">Fecha de Inicio:</label>
                    {{form.fecha_inicio}}
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="{{form.duracion.id_for_label}}">Duracion:</label>
                    {{form.duracion}}
                </div>
            </div>
            {{form.errors}}
            <button type="submit">Crear</button>
            <a href="{% url 'index' %}">MENU</a>
        </form>
    </div>
{% endblock main %}