{% extends "global/base.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'scripts/back_button.js' %}"></script>
{% endblock head %}

{% block main %}
    {% include "global/layouts/icons.html" %}

    <div  class="mx-auto p-2 mt-1" style="max-width: 800px;">

        {% include "global/layouts/nav_contrato_pagos.html" %}

        <hr>
            {% for cargo, persona in personas %}
                <div class="row g-1 mt-1">
                    <div class="col-md-2">
                        <input class="form-control" type="text" value="{{cargo}}" disabled readonly>
                    </div>
                    <a class="col-1 btn btn-primary" href="{% url 'detalle_persona' dni=persona.dni %}">
                        <svg width="16" height="16" fill="currentColor" class="bi bi-file-earmark-break">
                            <use xlink:href="#person-info"></use>
                        </svg>
                    </a>
                    <div class="col-md-2">
                        <input class="form-control" type="text" value="{{persona}}" disabled readonly>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="{{persona.nombre}}" disabled readonly>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" value="{{persona.celular}}" disabled readonly>
                    </div>
                </div>
            {% endfor %}
        <hr>

        <h2 class="">Inmueble
            <a class="btn btn-primary" href="{% url 'detalle_inmueble' partida=contrato.inmueble.partida %}">
            <svg width="16" height="16" fill="currentColor" class="bi bi-file-earmark-break">
                <use xlink:href="#inmueble-info"></use>
            </svg>
        </a></h2>
        <div class="row g-1">
            <div class="col-md-2">
                <label class="form-label">Nº de Partida:</label>
                <input class="form-control" type="text" value="{{contrato.inmueble}}" disabled readonly>
            </div>
            <div class="col-md-5">
                <label class="form-label">Direccion:</label>
                <input class="form-control" type="text" value="{{contrato.inmueble.direccion}}" disabled readonly>
            </div>
            <div class="col-md-5">
                <label class="form-label">Ciudad:</label>
                <input class="form-control" type="text" value="{{contrato.inmueble.ciudad}}" disabled readonly>
            </div>
            <div class="col-12">
                <label class="form-label">Composicion del Inmueble:</label>
                <textarea class="form-control" disabled readonly style="height: 100px;" >{{detalle.composicion}}</textarea>
            </div>
            <div class="col-12">
                <label class="form-label">Condicion del Inmueble:</label>
                <textarea class="form-control" disabled readonly style="height: 230px;">{{detalle.condicion}}</textarea>
            </div>
        </div>
        <hr>

        <h2>Terminos</h2>
        <div class="row g-1">
            <div class="input-group mt-3">
                <span class="input-group-text">Fecha Inicio</span>
                <input class="form-control" type="date" value="{{contrato.fecha_inicio|date:'Y-m-d'}}" disabled readonly>

                <span class="input-group-text">Duracion</span>
                <input class="form-control" type="text" value="{{contrato.duracion}} Meses" disabled readonly>

                <span class="input-group-text">Monto</span>
                <input class="form-control" type="text" value="{{contrato.porcentaje_pago}}" disabled readonly>
                <span class="input-group-text">%</span>
            </div>
            <div class="input-group mt-2">
                <span class="input-group-text">Día de pago</span>
                <input class="form-control" type="text" value="{{contrato.dia_pago}}" disabled readonly>

                <span class="input-group-text">Plazo</span>
                <input class="form-control" type="text" value="{{contrato.plazo_pago}}" disabled readonly>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5 mt-3">
            <a class="btn btn-danger me-md-2" href="{% url 'archivar_contrato' id_contrato=contrato.id %}">
            {% if contrato.active == True %}
                Archivar
            {% else %}
                Desarchivar
            {% endif %}
            </a>
            <a class="btn btn-success me-md-2" href="{% url 'descargar_contrato' id_contrato=contrato.id %}">Descargar</a>
            <button class="btn btn-secondary" onclick="volver()">Volver</button>
        </div>
    </div>
{% endblock %}