{% extends "global/base.html" %}

{% block main %}
    <div  class="mx-auto p-2" style="width: 800px;">
        <h1 class="text-center mt-2">Resumen del Contrato</h1>
        <h2>Locador</h2>
        <div class="row g-1">
            <div class="col-12">
                <label class="form-label">Nombre:</label>
                <input class="form-control" type="text" value="{{contrato.locador.nombre}}" disabled readonly>
            </div>
            <div class="col-md-2">
                <label class="form-label">DNI:</label>
                <input class="form-control" type="text" value="{{contrato.locador.dni}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Email:</label>
                <input class="form-control" type="text" value="{{contrato.locador.email}}" disabled readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label">Celular:</label>
                <input class="form-control" type="text" value="{{contrato.locador.celular}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Domicilio:</label>
                <input class="form-control" type="text" value="{{contrato.locador.domicilio}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Ciudad:</label>
                <input class="form-control" type="text" value="{{contrato.locador.ciudad}}" disabled readonly>
            </div>
        </div>
        <hr>

        <h2>Locatario</h2>
        <div class="row g-1">
            <div class="col-12">
                <label class="form-label">Nombre:</label>
                <input class="form-control" type="text" value="{{contrato.locatario.nombre}}" disabled readonly>
            </div>
            <div class="col-md-2">
                <label class="form-label">DNI:</label>
                <input class="form-control" type="text" value="{{contrato.locatario.dni}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Email:</label>
                <input class="form-control" type="text" value="{{contrato.locatario.email}}" disabled readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label">Celular:</label>
                <input class="form-control" type="text" value="{{contrato.locatario.celular}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Domicilio:</label>
                <input class="form-control" type="text" value="{{contrato.locatario.domicilio}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Ciudad:</label>
                <input class="form-control" type="text" value="{{contrato.locatario.ciudad}}" disabled readonly>
            </div>
        </div>
        <hr>

        <h2>Garantia de Locacion</h2>
        <div class="row g-1">
            <div class="col-12">
                <label class="form-label">Nombre:</label>
                <input class="form-control" type="text" value="{{contrato.garantia.nombre}}" disabled readonly>
            </div>
            <div class="col-md-2">
                <label class="form-label">DNI:</label>
                <input class="form-control" type="text" value="{{contrato.garantia.dni}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Email:</label>
                <input class="form-control" type="text" value="{{contrato.garantia.email}}" disabled readonly>
            </div>
            <div class="col-md-4">
                <label class="form-label">Celular:</label>
                <input class="form-control" type="text" value="{{contrato.garantia.celular}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Domicilio:</label>
                <input class="form-control" type="text" value="{{contrato.garantia.domicilio}}" disabled readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Ciudad:</label>
                <input class="form-control" type="text" value="{{contrato.garantia.ciudad}}" disabled readonly>
            </div>
        </div>
        <hr>

        <h2>Inmueble</h2>
        <div class="row g-1">
            <div class="col-md-2">
                <label class="form-label">Nº de Partida:</label>
                <input class="form-control" type="text" value="{{contrato.inmueble.num_partida}}" disabled readonly>
            </div>
            <div class="col-md-5">
                <label class="form-label">Direccion:</label>
                <input class="form-control" type="text" value="{{contrato.inmueble.direccion}}" disabled readonly>
            </div>
            <div class="col-md-5">
                <label class="form-label">Ciudad:</label>
                <input class="form-control" type="text" value="{{contrato.inmueble.ciudad}}" disabled readonly>
            </div>
            <div class="col-12">
                <label class="form-label">Composicion del Inmueble:</label>
                <textarea class="form-control" disabled readonly>{{contrato.inmueble.composicion}}</textarea>
            </div>
            <div class="col-12">
                <label class="form-label">Condicion del Inmueble:</label>
                <textarea class="form-control" disabled readonly>{{contrato.condicion}}</textarea>
            </div>
        </div>
        <hr>

        <h2>Terminos</h2>
        <div class="row g-1">
            <div class="col-md-3">
                <label class="form-label">Fecha de Inicio:</label>
                <input class="form-control" type="date" value="{{contrato.fecha_inicio|date:'Y-m-d'}}" disabled readonly>
            </div>
            <div class="col-md-2">
                <label class="form-label">Duracion:</label>
                <input class="form-control" type="text" value="{{contrato.duracion}} Meses" disabled readonly>
            </div>
            <div class="col-md-3">
                <label class="form-label">Fecha de Finalizacion:</label>
                <input class="form-control" type="date" value="{{contrato.fecha_finalizacion|date:'Y-m-d'}}" disabled readonly>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">
            <a class="btn btn-success me-md-2" href="{% url 'descargar_contrato' id_contrato=contrato.id %}">Descargar</a>
            <a class="btn btn-secondary" href="{% url 'index' %}">Volver</a>
        </div>
    </div>
{% endblock %}