<form action="" method="POST" >
    {% csrf_token %}
    <div class="input-group mt-3">
        <span class="input-group-text">Fecha Inicio</span>
        {{form.fecha_inicio}}

        <span class="input-group-text">Duracion</span>
        {{form.duracion}}

        <span class="input-group-text">Monto</span>
        {{form.porcentaje_pago}}
        <span class="input-group-text">%</span>
    </div>
    <div class="input-group mt-2">
        <span class="input-group-text">Día de pago</span>
        {{form.dia_pago}}

        <span class="input-group-text">Plazo</span>
        {{form.plazo_pago}}
    </div>

    <div class="mt-2" style="color:red; font-size: 13px">
    {{form.errors}}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5 mt-5">
        <a class="btn btn-secondary" href="{% url 'index' %}">Volver</a>
        <button class="btn btn-success me-md-2" type="submit">Guardar</button>
    </div>
</form>