{% extends "global/base.html" %}

{% block head %}
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
{% endblock head %}

{% block main %}
    {% include "global/layouts/icons.html" %}

    <div class="mx-auto p-2" style="width: 1000px;">
        <h1 class="text-center mt-2 mb-3">Configuraciones</h1>
        <div>
            <h2>Backups</h2>
            <div class="alert alert-secondary mb-2">
                <div class="d-flex align-items-center">
                    <p class="mb-0">Realizar una copia de la base de datos.</p>
                    <button type="button" class="btn btn-primary mb-0 ms-auto" id="BackupAlertBtn" onclick="realizar_backup()">Realizar BackUp</button>
                </div>
                <div id="BackupAlertPlaceholder"></div>
            </div>
            <div class="alert alert-secondary d-flex align-items-center mb-2">
                <p class="mb-0">Mostrar la lista de los BackUps existentes en el servidor.</p>
                <button type="button" class="btn btn-primary mb-0 ms-auto" data-bs-toggle="modal" data-bs-target="#backup_list_modal" onclick="request_backup_list()">Ver Lista</button>
            </div>
            <div class="alert alert-secondary d-flex align-items-center mb-2">
                <p class="mb-0">Programar la copia de seguridad automatica.</p>
                <a href="#" class="btn btn-primary mb-0 ms-auto">Programar</a>
            </div>
            <div class="alert alert-secondary d-flex align-items-center mb-2">
                <p class="mb-0">Restaurar base de datos a partir de un BackUp.</p>
                <a href="#" class="btn btn-primary mb-0 ms-auto">Restaurar</a>
            </div>
        </div>
    </div>

  <!-- Modal BackUpList -->
    <div class="modal fade" id="backup_list_modal" tabindex="-1" aria-labelledby="backup_list_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="backup_list_modal_label">BackUps en el servidor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id="backup_list_tabla">
                        </tbody>
                      </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmacion Borrar / Restaurar -->
    <div class="modal fade" id="confirmacion_modal" aria-hidden="true" aria-labelledby="confirmacion_modal_label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmacion_modal_label"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3"></div>

    <script>
        // CREATE TOAST
        function createToast(body, title = 'Notificación') {
            const toast = document.createElement('div')
            toast.classList.add('toast', 'fade', 'show')
            toast.setAttribute('role', 'alert')
            toast.setAttribute('aria-live', 'assertive')
            toast.setAttribute('aria-atomic', 'true')
            toast.innerHTML = `
                <div class="toast-header">
                    <strong class="me-auto">${title}</strong>
                    <small>Ahora</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    ${body}
                </div>
            `
            document.querySelector('.toast-container').appendChild(toast)
        }

        // ALERT MESSAGE REALIZAR BACKUP
        const BackupAlertPlaceholder = document.getElementById('BackupAlertPlaceholder')
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} mb-0 mt-2 d-flex align-items-center fade show" role="alert">`,
                    `   <svg class="bi flex-shrink-0 me-2" role="img" aria-label="${type.charAt(0).toUpperCase() + type.slice(1)}:"><use xlink:href="#check-circle-fill"/></svg>`,
                    `   <div class="mb-0">${message}</div>`,
                    `   <div class="ms-auto d-flex align-items-center">`,
                            (type !== 'danger' ? `<a href="{% url "descargar_backup" %}" class="btn btn-success mb-0 ms-auto me-3">Descargar</a>` : ''),
                    '       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    `   </div>`,
                    '</div>'
            ].join('')
            BackupAlertPlaceholder.append(wrapper)
        }

        // ACTUALIZAR DATOS LISTA BACKUPS
        function actualizar_tabla(data) {
            const tabla = document.getElementById('backup_list_tabla');
            tabla.innerHTML = '';
            let i = 0;
            data.forEach(function(backup_str){
                const row = document.createElement('tr');
                row.innerHTML = `
                    <th scope="row">${i}</th>
                    <td>${backup_str}</td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-primary mb-0 ms-auto" data-bs-target="#confirmacion_modal" data-bs-toggle="modal" onclick="actualizar_confirmacion(true, ${i}, '${backup_str}')">
                            <svg class="bi bi-download" width="16" height="16" fill="currentColor">
                                <use xlink:href="#reboot-icon"/>
                            </svg>
                        </button>
                        <a href="{% url 'descargar_backup' %}?index=${i}" class="btn btn-success mb-0 ms-auto">
                            <svg class="bi bi-download" width="16" height="16" fill="currentColor">
                                <use xlink:href="#download-icon"/>
                            </svg>
                        </a>
                        <button class="btn btn-danger mb-0 ms-auto" data-bs-target="#confirmacion_modal" data-bs-toggle="modal" onclick="actualizar_confirmacion(false, ${i}, '${backup_str}')">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <use xlink:href="#trash-icon"></use>
                            </svg>
                        </button>
                    </td>
                `;
                i++;
                tabla.insertBefore(row, tabla.firstChild);
            })
        }

        // ACTUALIZAR DATOS CONFIRMACION
        function actualizar_confirmacion(is_restore, index, fecha) {
            const modal = document.getElementById('confirmacion_modal');
            const modal_title = document.getElementById('confirmacion_modal_label');
            const modal_body = document.querySelector('#confirmacion_modal .modal-body');
            const modal_footer = document.querySelector('#confirmacion_modal .modal-footer');
            var funcion = is_restore ? `restaurar_backup(${index}, '${fecha}')` : `eliminar_backup(${index}, '${fecha}')`;
            modal_title.innerHTML = is_restore ? 'Restaurar Backup' : 'Eliminar Backup';
            modal_body.innerHTML = is_restore ? `Esta acción restaurara la base de datos de la fecha ${fecha} y eliminara los datos existentes. Desea continuar?` : `¿Desea eliminar el backup del ${fecha}?`;
            modal_footer.innerHTML = `
                <button class="btn btn-secondary" data-bs-target="#backup_list_modal" data-bs-toggle="modal">Volver</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="${funcion}">
                    <svg class="bi bi-download" width="16" height="16" fill="currentColor">
                        <use xlink:href="#warning-icon"/>
                    </svg>
                    Confirmar
                </button>
            `;
        }

        // ELIMINAR BACKUP
        function eliminar_backup(index, fecha){
            var formData = new FormData();
            formData.append('index', index);
            formData.append('fecha', fecha);
            const url = '{% url "eliminar_backup" %}';
            const options = {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                }
            }
            fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al eliminar el backup.');
                }
                return response.text();
            })
            .then(data => {
                createToast(data);
            })
            .catch(error => {
                createToast(error.message)
            });
        }

        // RESTAURAR BACKUP
        function restaurar_backup(index, fecha){
            console.log('Restaurar backup', index, fecha)
        }

        // REALIZAR BACKUP
        function realizar_backup() {
            fetch("{% url 'backup' %}")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al realizar el backup');
                }
                return response.text();
            })
            .then(data => {
                appendAlert(data, 'success');
            })
            .catch(error => {
                appendAlert(error.message, 'danger');
            });
        }

        // REQUEST BACKUP LIST
        function request_backup_list() {
            fetch("{% url 'backup_list' %}")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener la lista de backups');
                }
                return response.json();
            })
            .then(data => {
                actualizar_tabla(data.backup_list);
            })
            .catch(error => {
                console.error(error.message);
            });
        }
    </script>
{% endblock %}